.heading_title {
    border-bottom: 5px solid #FFAD00;
    margin-right: 430px;
    margin-left: 430px;
    border-radius: 25px;
    padding-bottom: 2px;
}

.team-member {
    margin-bottom: 15px;

}

.member-img {
    overflow: hidden;
    border: 1px solid #FFAD00;
    box-shadow: 1px 1px #ecca81;
    width: 100%;

    border-radius: 15px;


}

.member-img img {
    /* max-width: 250px;
    margin: 0 auto; */
    width: 100%;
    object-fit: cover;

}

.team-member h4 {
    font-size: 19px;
    line-height: 32px;
    margin: 10px 0 0;
    text-align: center;
}

.team-member .pos {
    display: block;
    margin: 0;
    text-align: center;
}

.team-member .contact a {
    padding: 0 8px;
}

.img-responsive {

    height: 300px;


}

/* .img-cover {
    object-fit: cover;
    width: 100%;

    margin-right: 200px;
} */
/* For responsive */
@media only screen and (max-width:576px) {
    .heading_title {
        border-bottom: 5px solid #FFAD00;
        margin-right: 30px;
        margin-left: 30px;
        border-radius: 25px;
    }

}